WebSites/monacos.us_mvc/Connected Services/HomeAutomation/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HomeAutomationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HomeAutomationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultInformation">
    <xs:sequence>
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="ResultCode" type="tns:ResultCodeValues" />
      <xs:element name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultInformation" nillable="true" type="tns:ResultInformation" />
  <xs:simpleType name="ResultCodeValues">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Fail" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Undefined" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultCodeValues" nillable="true" type="tns:ResultCodeValues" />
  <xs:complexType name="ArrayOfDeviceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceInformation" nillable="true" type="tns:DeviceInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceInformation" nillable="true" type="tns:ArrayOfDeviceInformation" />
  <xs:complexType name="DeviceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dimmable" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceInformation" nillable="true" type="tns:DeviceInformation" />
</xs:schema>